{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciudadanos Conectados</title>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <a class="nav-logo" href="{% url 'pages:home' %}" aria-label="Inicio">
                    <img src="{% static 'images/favicon.svg' %}" alt="Citizens Connected Logo" class="logo">
                    <span class="site-name">Ciudadanos Conectados</span>
                </a>
            </div>
            <div class="nav-right">
                <a class="btn btn-login" href="{% url 'account:login' %}" aria-label="Iniciar Sesión">Iniciar Sesión</a>
                <a class="btn btn-register" href="{% url 'account:register' %}" aria-label="Registrarse">Registrar</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="card-container">
            <div class="card">
                <i class="card-icon fas fa-exclamation-circle" aria-hidden="true"></i>
                <h2>Informar problemas y realizar solicitudes</h2>
                <ul>
                    <li>Enviar y realizar reclamos, solicitudes de mantenimiento o sugerencias directamente al municipio.</li>
                    <li>Siga el estado de sus solicitudes en tiempo real.</li>
                </ul>
            </div>
            <div class="card">
                <i class="card-icon fas fa-poll" aria-hidden="true"></i>
                <h2>Participar en consultas y encuestas públicas</h2>
                <ul>
                    <li>Contribuir a votaciones y encuestas sobre proyectos y políticas municipales.</li>
                    <li>Expresar tu opinión sobre temas relevantes, contribuyendo a la toma de decisiones basadas en la opinión pública.</li>
                    <li>Consultar los resultados de las consultas para promover la transparencia.</li>
                </ul>
            </div>
        </section>
        
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Acerca de Las Flores</h3>
                <p>Una comunidad que fomenta la participación ciudadana y la gobernanza transparente.</p>
            </div>
            <div class="footer-section">
                <h3>Información de contacto</h3>
                <p>modernizacion@lasflores.gob.ar</p>
            </div>
            <div class="footer-section">
                <h3>Enlaces rápidos</h3>
                <ul>
                    <li><a href="#" aria-label="Preguntas frecuentes">Preguntas frecuentes</a></li>
                    <li><a href="#" aria-label="Política de privacidad">Política de privacidad</a></li>
                    <li><a href="#" aria-label="Condiciones de servicio">Condiciones de servicio</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>