{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" href="{% static 'css/panel.css' %}">
</head>
<body>
    {% include 'components/navbar.html' %}

    <main class="dashboard">
        <section class="module-grid">
            <!-- Participación Ciudadana -->
            <a href="{% url 'pages:participation' %}" class="module-card">
                <h2 class="module-title">Participación Ciudadana</h2>
                <p class="module-desc">
                    Envíe solicitudes, participe en encuestas y colaboré para influir en las decisiones locales.
                </p>
            </a>

            <!-- Transparencia y Datos Abiertos -->
            <a class="module-card inactive">
                <span class="development-badge">En desarrollo</span>
                <h2 class="module-title">Transparencia</h2>
                <p class="module-desc">
                    Visualice datos y estadísticas sobre solicitudes, presupuestos, cumplimientos, obras y servicios públicos.
                </p>
            </a>

            <!-- Información y Comunicación -->
            <a href="{% url 'pages:comunication' %}" class="module-card inactive">
                <span class="development-badge">En desarrollo</span>
                <h2 class="module-title">Información y Comunicación</h2>
                <p class="module-desc">
                    Consulte noticias, eventos y reuniones de interés público.
                </p>
            </a>
        </section>
    </main>
</body>
</html>