{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    {% include 'components/navbar.html' %}

    <main>
        <section id="profile">
            <h2>Mi Perfil</h2>
            <div class="profile-details">
                <div class="profile-info">
                    <h3>{{request.user.first_name|capfirst}}  {{request.user.last_name|capfirst}}</h3>
                    <p><strong>Email:</strong> {{request.user.email}}</p>
                    
                    {% if request.user.phone_number|length == 10 %}
                        <p><strong>Teléfono:</strong> {{request.user.phone_number|slice:":4"}}-{{request.user.phone_number|slice:"4:"}}</p>
                    {% else %}
                        <p><strong>Teléfono:</strong> {{request.user.phone_number}}</p>
                    {% endif %}

                    {% if request.user.dni|length == 8 %}
                        <p><strong>DNI:</strong> {{request.user.dni|slice:":2"}}.{{request.user.dni|slice:"2:5"}}.{{request.user.dni|slice:"5:"}}</p>
                    {% else %}
                        <p><strong>DNI:</strong> {{request.user.dni}}</p>
                    {% endif %}
                        
                    <p><strong>Ubicación:</strong> {{request.user.address|capfirst}}</p>
                    <p><strong>Fecha de Registro:</strong> {{request.user.created_at|date:"d-m-Y" }}</p>
                </div>
            </div>

            <div class="profile-actions">
                <button class="btn btn-primary" id="edit-profile-btn" aria-label="Editar Perfil">Editar Perfil</button>
            </div>

            <div id="edit-profile-form" class="hidden">
                <h3>Editar Perfil</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.first_name.id_for_label }}">Nombre</label>
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.last_name.id_for_label }}">Apellido</label>
                        {{ form.last_name }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.phone_number.id_for_label }}">Teléfono</label>
                        {{ form.phone_number }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.address.id_for_label }}">Dirección</label>
                        {{ form.address }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.dni.id_for_label }}">DNI</label>
                        {{ form.dni }}
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" id="save-edit-profile-btn">Guardar Cambios</button>
                        <button type="button" class="btn btn-secondary" id="cancel-edit-profile-btn">Cancelar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <script src="{% static 'js/profile.js' %}"></script>
</body>
</html>
