@import url('../../../static/css/components/back_button.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    line-height: 1.6;
    color: var(--text);
    background-color: var(--background);
}

main {
    max-width: 1200px;
    margin: 1.5rem auto;
    padding: 0 1rem;
}