{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <header>
        <nav>
            <a class="nav-logo" href="{% url 'pages:home' %}" aria-label="Inicio">
                <img src="{% static 'images/favicon.svg' %}" alt="Citizens Connected Logo" class="logo">
                <span class="site-name">Ciudadanos Conectados</span>
            </a>
            <div class="nav-toggle" id="navToggle" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </div>
            <div class="nav-content" id="navContent">
                <div class="nav-right">
                    <a class="btn btn-login" href="{% url 'account:login' %}" aria-label="Iniciar Sesión">Iniciar Sesión</a>
                    <a class="btn btn-register" href="{% url 'account:register' %}" aria-label="Registrarse">Registrar</a>
                </div>
            </div>
        </nav>
    </header>
    
    <main>
        <div class="register-container">
            <h1>Registro</h1>
            <form action="{% url 'account:register' %}" method="POST">
                {% csrf_token %}
                <div class="register-form">
                    <div class="form-group">
                        <label for="first_name">Nombre</label>
                        {{ form.first_name }}
                        {% for error in form.first_name.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="last_name">Apellido</label>
                        {{ form.last_name }}
                        {% for error in form.last_name.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="dni">DNI</label>
                        {{ form.dni }}
                        {% for error in form.dni.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="phone">Teléfono</label>
                        {{ form.phone_number }}
                        {% for error in form.phone_number.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="address">Dirección</label>
                        {{ form.address }}
                        {% for error in form.address.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="hidden">
                        <label for="username">Nombre de usuario</label>
                        <input type="text" id="username" class="readonly-input" name="username" value="{{ form.username.value|default:'' }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        {{ form.email }}
                        {% for error in form.email.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        {{ form.password1 }}
                        {% for error in form.password1.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirmar contraseña</label>
                        {{ form.password2 }}   
                        {% for error in form.password2.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
            <div class="register-form-footer">
                <a href="{% url 'account:login' %}">¿Ya tienes una cuenta? Inicia sesión</a>
            </div>
        </div>
    </main>

    <script src="{% static 'js/register.js' %}"></script>
</body>
</html>