{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Áreas de interés</title>
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"> 
        <link rel="stylesheet" href="{% static 'css/areas.css' %}">
    </head>

    <body>
        {% include 'components/navbar.html' %}
        <main class="dashboard">
            {% include 'components/back_button.html' with url_link=url_link back_name='a Centro de Datos' %}

            <section class="module-grid">
                {% for area in areas %}
                    {% if area.in_development %}
                        <a href="" class="module-card inactive">
                            <span class="development-badge">En desarrollo</span>
                            <h2 class="module-title">{{ area.title }}</h2>
                            <p class="module-desc">
                                {{ area.description }}
                            </p>
                        </a>
                    {% else %}
                        <a href="{% url 'data_center:data_viewer' category=area.slug %}" class="module-card">
                            <h2 class="module-title">{{ area.title }}</h2>
                            <p class="module-desc">
                                {{ area.description }}
                            </p>
                        </a>
                    {% endif %}
                {% endfor %}
            </section>
        </main>
    </body>
</html>