{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Centro Estadístico</title>
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"> 
        <link rel="stylesheet" href="{% static 'css/data_center.css' %}">
    </head>

    <body>
        {% include 'components/navbar.html' %}
        <main class="dashboard">
            {% if request.user.is_authenticated %}
                {% include 'components/back_button.html' with url_link=url_link back_name='a Transparencia' %}
            {% endif %}

            <section class="module-grid">
                <a href="{% url 'data_center:areas' %}" class="module-card">
                    <h2 class="module-title">Áreas</h2>
                    <p class="module-desc">
                        Explore las áreas de interés y visualice los datos estadísticos.
                    </p>
                </a>

                <a href="" class="module-card inactive">
                    <span class="development-badge">En desarrollo</span>
                    <h2>Conjuntos de Datos</h2>
                    <p class="module-desc">
                        Acceda a conjuntos de datos abiertos y descargue información pública.
                    </p>
                </a>
            </section>
        </main>
    </body>
</html>