{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Encuestas</title>
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"> 
        <link rel="stylesheet" href="{% static 'css/surveys.css' %}">
    </head>

    <body>
        {% include 'components/navbar.html' %}

        <main>
            {% include 'components/back_button.html' with url_link=url_link back_name='a Participación' %}
            <!-- Surveys Section -->
            <section id="survey-section">
                <!-- Active surveys -->
                <div id="active-survey">
                    <h1>Encuestas y Consultas</h1>

                    <div class="section-content">
                        <ul class="survey-items">
                            {% if surveys %}
                                {% for survey in surveys %}
                                    {% if survey.status == "activa" %}
                                        <li class="survey-item">
                                            <div class="survey-header">
                                                <h4>{{survey.name|capfirst}}</h4>
                                                <span class="survey-status active">Activa</span>
                                            </div>
                                            <p class="survey-description">{{survey.description|capfirst}}</p>
                                            <div class="survey-actions">
                                                <div class="survey-action">
                                                    <a href="{% url 'surveys:survey_detail' survey.id %}" class="btn btn-primary" aria-label="Participar en consulta pública">Participar</a>
                                                    <a href="{% url 'surveys:survey_results' survey.id %}" class="btn btn-secondary view-survey-results">Ver Resultados</a>
                                                </div>
                                                <span class="survey-deadline">Fecha límite: {{survey.end_date|date:"d-m-Y"}}</span>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <p class="no-surveys">No hay encuestas activas en este momento.</p>
                            {% endif %}
                        </ul>
                        
                        <!-- Surveys history -->
                        <div id="survey-history">
                            <h3>Historial de Encuestas y Consultas</h3>
                            <ul class="survey-items">
                                {% if surveys %}
                                    {% for survey in surveys %}
                                        {% if survey.status == "finalizada" %}
                                            <li class="survey-item completed">
                                                <div class="survey-header">
                                                    <h4>{{survey.name|capfirst}}</h4>
                                                    <span class="survey-status completed">Finalizada</span>
                                                </div>
                                                <p class="survey-description">{{survey.description|capfirst}}</p>
                                                <div class="survey-actions">
                                                    <div class="survey-action">
                                                        <a href="{% url 'surveys:survey_results' survey.id %}" class="btn btn-secondary view-survey-results" aria-label="Ver resultados de consulta pública">Ver Resultados</a>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p class="no-surveys">No hay encuestas finalizadas.</p>
                                {% endif %}
                            </ul>
                        </div>
                    </div>   
                </div>
            </section>
        </main>
    </body>
</html>