{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciudadanos Conectados</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <nav>
        <div class="nav-left">
            <img src="{% static 'images/favicon.svg' %}" alt="Citizens Connected Logo" class="logo">
            <span class="site-name">Ciudadanos Conectados</span>
        </div>
        <div class="nav-right">
            <a class="btn btn-login" href="{% url 'account:login' %}">Iniciar Sesión</a>
            <a class="btn btn-register" href="{% url 'account:register' %}">Registrar</a>
        </div>
    </nav>

    <main>
        <div class="card-container">
            <div class="card">
                <i class="card-icon fas fa-exclamation-circle"></i>
                <h2>Informar problemas y realizar solicitudes</h2>
                <ul>
                    <li>Enviar y realizar reclamos, solicitudes de mantenimiento o sugerencias directamente al municipio.</li>
                    <li>Siga el estado de sus solicitudes en tiempo real.</li>
                </ul>
            </div>
            <div class="card">
                <i class="card-icon fas fa-poll"></i>
                <h2>Participar en consultas y encuestas públicas</h2>
                <ul>
                    <li>Contribuir a votaciones y encuestas sobre proyectos y políticas municipales.</li>
                    <li>Expresar tu opinión sobre temas relevantes, contribuyendo a la toma de decisiones basadas en la opinión pública.</li>
                    <li>Consultar los resultados de las consultas para promover la transparencia.</li>
                </ul>
            </div>
        </div>
        
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Acerca de Las Flores</h3>
                <p>Una comunidad que fomenta la participación ciudadana y la gobernanza transparente.</p>
            </div>
            <div class="footer-section">
                <h3>Información de contacto</h3>
                <p>modernizacion@lasflores.gob.ar</p>
            </div>
            <div class="footer-section">
                <h3>Enlaces rápidos</h3>
                <ul>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Condiciones de servicio</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>