@import url('../colors.css');

nav {
    background-color: var(--dark-background);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--accent);
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-right {
    gap: 0;
}

.nav-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-logo .logo {
    width: auto;
    height: 90px;
}

.nav-logo .site-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--light-text);
}

.site-name {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary);
}