{% load static %}
<link rel="stylesheet" href="{% static 'css/user_badge.css' %}">

<a class="user-badge" href="{% url 'account:profile' %}">
    <span class="avatar">A</span>
    <span class="username">Agustín Herrera</span>
</a>
<ul class="dropdown-menu">
    <li><a class="btn btn-secondary" href="{% url 'account:panel' %}">Panel</a></li>
    <li><a class="btn btn-secondary"  href="{% url 'account:profile' %}">Perfil</a></li>
    <li>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-logout">Cerrar Sesión</button>
        </form>
    </li>
</ul>

<script src="{% static 'js/user_badge.js' %}"></script>