{% load static %}

<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">

<header>
    <nav>
        <div class="nav-left">
            {% if request.user.is_authenticated %}
                <a class="nav-logo" href="{% url 'account:panel' %}">
                    <img src="{% static 'images/favicon.svg' %}" alt="Citizens Connected Logo" class="logo mobile-hide">
                    <span class="site-name">Ciudadanos Conectados</span>
                </a>
            {% else %}
                <a class="nav-logo" href="{% url 'pages:home' %}">
                    <img src="{% static 'images/favicon.svg' %}" alt="Citizens Connected Logo" class="logo mobile-hide">
                    <span class="site-name">Ciudadanos Conectados</span>
                </a>
            {% endif %}
        </div>
        <div class="nav-right">
            {% include 'components/notifications_button.html' %}
            {% include 'components/user_badge.html' %}
        </div>
    </nav>
</header>