{% load static %}

<link rel="stylesheet" href="{% static 'css/components/navbar.css' %}">

<header>
    <nav class="{% if request.user.is_internal %} internal-nav {% endif %}">
        <div class="nav-left">
            {% if request.user.is_authenticated %}
                {% if request.user.is_internal %}
                    <a class="nav-logo" href="{% url 'pages:panel' %}">
                        <img src="{% static 'images/favicon.svg' %}" alt="Logo de Ciudadanos Conectados" class="logo mobile-hide">
                        <span class="site-name">Ciudadanos Conectados - Interno</span>
                    </a>
                {% else %}
                    <a class="nav-logo" href="{% url 'pages:panel' %}">
                        <img src="{% static 'images/favicon.svg' %}" alt="Logo de Ciudadanos Conectados" class="logo mobile-hide">
                        <span class="site-name">Ciudadanos Conectados</span>
                    </a>
                {% endif %}
            {% else %}
                <a class="nav-logo" href="{% url 'pages:home' %}">
                    <img src="{% static 'images/favicon.svg' %}" alt="Logo de Ciudadanos Conectados" class="logo mobile-hide">
                    <span class="site-name">Ciudadanos Conectados</span>
                </a>
            {% endif %}
        </div>
        {% if request.user.is_authenticated %}
            <div class="nav-right">
                {% include 'components/notifications_button.html' %}
                {% include 'components/user_badge.html' %}
            </div>
        {% endif %}
    </nav>
</header>