{% load static %}
<link rel="stylesheet" href="{% static 'css/components/user_badge.css' %}">

<div class="user-badge-container">
    <a class="user-badge" href="{% url 'account:profile' %}">
        <span class="avatar">{{request.user.first_name|capfirst|slice:":1"}}</span>
        <span class="username">{{request.user.first_name|capfirst}} {{ request.user.last_name|capfirst}}</span>
    </a>
    <ul class="dropdown-menu">
        <li><a class="btn btn-secondary" href="{% url 'account:panel' %}">Panel</a></li>
        <li><a class="btn btn-secondary"  href="{% url 'account:profile' %}">Perfil</a></li>
        <li>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-logout">Cerrar Sesión</button>
            </form>
        </li>
    </ul>
</div>

<script src="{% static 'js/user_badge.js' %}"></script>